.root {
    background-size: cover;
}

.introduction {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 15px !important;
}
